.home_slide {
  height: 150px; }

.alpha60 {
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5; }

.slide-img {
  width: 100%;
  height: 100%; }

.index_link {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.7);
  padding-top: 0px;
  padding-left: 0px;
  text-align: center; }
  .index_link .index_icon {
    width: 30px;
    height: 30px;
    font-size: 30px; }
  .index_link .color_grey {
    background-color: whitesmoke; }

.myorder_item {
  padding: 5px; }

.coll-right {
  font-size: 15px; }

.order_item {
  padding: 7px; }

.validate_input {
  width: 50%; }

.cancelButton {
  width: 50px;
  min-height: 20px;
  height: 25px;
  padding: 0px;
  display: inline-block;
  margin-left: 10px;
  line-height: 25px; }

.addFriendButton {
  padding: 0px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  min-height: 30px; }

.deliver {
  background-color: #EEEEEE;
  color: rgba(0, 0, 0, 0.7); }
  @media all and (min-device-width: 320px) {
    .deliver {
      font-size: 12px; } }
  @media all and (min-device-width: 360px) {
    .deliver {
      font-size: 14px; } }
  @media all and (min-device-width: 400px) {
    .deliver {
      font-size: 16px; } }
  .deliver .add_button {
    position: fixed;
    right: 30px;
    font-size: 40px;
    width: 40px;
    z-index: 999; }
  .deliver .deliver_item {
    margin: 10px 5px 10px 5px;
    padding: 10px 10px;
    background-color: #FFFFFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; }
    .deliver .deliver_item .deliver_icon {
      margin-right: 10px; }
    .deliver .deliver_item p {
      margin-bottom: 5px; }
    .deliver .deliver_item .header .title {
      color: #387ef5;
      margin-right: 10px;
      font-size: 1.15rem; }
    .deliver .deliver_item .header .activity_state {
      float: right;
      color: #387ef5;
      margin-right: 20px; }
    .deliver .deliver_item .header .cancel_button {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      float: right;
      margin-right: 15px;
      padding-top: 0px;
      padding-bottom: 0px; }

.new_deliver {
  padding: 10px 10px 10px 10px;
  color: rgba(0, 0, 0, 0.7) !important; }
  .new_deliver .introduce {
    border-bottom-color: darkgray;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: rgba(0, 0, 0, 0.7);
    padding-bottom: 10px; }
  .new_deliver .content {
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.7); }
    .new_deliver .content span {
      color: rgba(0, 0, 0, 0.7); }
    .new_deliver .content .label {
      overflow: hidden; }
    .new_deliver .content .my-item {
      border: 0px;
      padding-left: 0px; }
      @media all and (max-device-width: 375px) {
        .new_deliver .content .my-item {
          font-size: 14px; } }
      @media all and (max-device-width: 320px) {
        .new_deliver .content .my-item {
          font-size: 12px; } }
    .new_deliver .content .my-input {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      margin-left: 5px;
      margin-top: 10px;
      border-width: 1px;
      border-color: #c8c8c8;
      border-style: solid; }
    .new_deliver .content .my-textarea {
      border-bottom-color: darkgray;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      margin-top: 10px;
      height: 60px;
      width: 100%; }
    .new_deliver .content .my-select {
      text-align: center;
      margin-top: 10px;
      border-style: solid;
      border-color: #387ef5;
      border-width: 1px; }
    .new_deliver .content .selected {
      background-color: #387ef5; }
    .new_deliver .content .submit_button {
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      margin-left: 10px;
      min-height: 40px;
      margin-top: 10px;
      height: 40px;
      width: 95%; }

.deliver_admin_login .submit_button {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

.deliver_admin_login label {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.activity {
  background-color: #EEEEEE;
  color: rgba(0, 0, 0, 0.7); }
  .activity .activity_item {
    margin: 5px 5px 5px 5px;
    padding: 10px 10px;
    background-color: #FFFFFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; }
    .activity .activity_item .header .title {
      color: #387ef5;
      font-size: 1.2rem; }
    .activity .activity_item .header .activity_state {
      float: right;
      color: #387ef5;
      margin-right: 20px; }
    .activity .activity_item .content .activity_pic {
      width: 100%;
      height: 150px; }

.spinner svg {
  width: 28px;
  height: 28px;
  fill: #444; }

@media all and (min-device-width: 320px) {
  html {
    font-size: 12px; } }

@media all and (min-device-width: 360px) {
  html {
    font-size: 14px; } }

@media all and (min-device-width: 400px) {
  html {
    font-size: 16px; } }
