//跨浏览器圆角
@mixin rounded-corners($number) {
	-webkit-border-radius: $number;
    -moz-border-radius: $number;
    border-radius: $number;
}

@mixin grey_border($side,$color) {
	border-#{$side}-color:$color;
	border-#{$side}-style:solid;
	border-#{$side}-width:1px;
}

$my-grey:rgb(238,238,238);
$my-white:#FFFFFF;
$grey-back:#EEEEEE;
$blue: rgba(56,126,245,1);
.deliver {
	background-color: $grey-back;
	font-size: 14px;
	color: rgba(0,0,0,0.7);
	.add_button {
		position: fixed;
		top: 500px;
		right:30px;
		font-size: 40px;
		width: 40px;
		z-index: 999;
	}
	.deliver_item {
		margin: 10px 5px 10px 5px;
		padding: 10px 10px;
		background-color: $my-white;
		@include rounded-corners(10px);
		.deliver_icon {
			margin-right:10px;
		}
		.header {
			.title {
				color: $blue;
				font-size: 16px;
				margin-right: 10px;
			}
			.activity_state {
				float: right;
				color: $blue;
				margin-right:20px;
			}
			.cancel_button {
				@include rounded-corners(5px);
				float: right;
				margin-right: 15px;
				line-height: 20px;
			}
		}
		.content {
		}
	}
}

.new_deliver {
	padding: 10px 10px 10px 10px;
	color: rgba(0,0,0,0.7) !important;
	.introduce {
		@include grey_border("bottom", rgb(169,169,169));
		color: rgba(0,0,0,0.7);
		padding-bottom: 10px;
	}
	.content {
		margin-top: 10px;
		color: rgba(0,0,0,0.7);
		span {
			color: rgba(0,0,0,0.7);
		}
		.my-item {
			border:0px;
			font-size:14px;
		}
		.my-input {
			@include rounded-corners(5px);
			// margin-left: 10px;
			margin-top:10px;
			// padding-left:10px;
			border-width: 1px;
			border-color: rgb(200,200,200);
			border-style: solid;
		}
		.my-textarea {
			@include grey_border("bottom", rgb(169,169,169));
			margin-top: 10px;
			height:60px;
			width:100%;
		}
		.my-select {
			text-align: center;
			margin-top:10px;
			border-style: solid;
			border-color: rgb(56,126,245);
			border-width: 1px;
		}
		.selected {
			background-color: rgb(56,126,245);
		}
		.submit_button {
			@include rounded-corners(10px);
			margin-left: 10px;
			min-height:40px;
			margin-top: 10px;
			height:40px;
			width: 95%;
		}
	}
}

.deliver_admin_login {
	.submit_button {
		@include rounded-corners(10px);
	}
}