@import "index/home";
@import "yuyue/yuyue";
@import "deliver";
@import "activity";
.spinner svg {
  width: 28px;
  height: 28px;
  fill: #444;
}
html {
	@media all and (min-device-width: 320px) {
		font-size: 12px;
	}
	@media all and (min-device-width: 360px) {
		font-size: 14px;
	}
	@media all and (min-device-width: 400px) {
		font-size: 16px;
	}
}
