.myorder_item {
	padding:5px;
}
.coll-right{
	font-size:15px;
}
.order_item {
	padding:7px;
}
.validate_input {
	width:50%;
}	
.cancelButton {
	width:50px;
	min-height:20px;
	height:25px;
	padding:0px;
	display: inline-block;
	margin-left:10px;
	line-height:25px;
	
}
.addFriendButton {
	padding:0px;
	width:20px;
	height: 20px;
	font-size: 20px;
	min-height: 30px;
}